.footer{
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.footer p{
    font-size: 12px;
    color: white;
    margin: 5px;
}