<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <button class="rounded-circle navbar-toggler" style="width: 30px; height: 30px;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;"><img src="../../assets/2.png" width="30" height="30" class="rounded-circle" alt=""></span>
    </button>
  </div>
  <div class="text nav-title">
    <img src="../../assets/CompanyLogoTransparent(Small).png" width="150" height="30" alt="">
    <p>Campus Date</p>
  </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Hello,Imesh</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
    <button (click)="onUserLogout()" class="btn btn-sm btn-danger ms-2">
      Logout
    </button>
  </div>
</div>


  